<!DOCTYPE html>
<html>
  <head>
    <title>Tech University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
   <!-- <%= link_to 'home', root_path %>
    <%= link_to 'about', about_path %>
    <%= link_to 'new courses', courses_new_path %>-->
        <%= render'layouts/navigation'%>
      <main>
       <div class="container">
         <%= yield %>
        </div>
      </main>
        <%= render'layouts/footer'%>
  </body>
</html
